html,
body {
    color: #fff;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: 'Georama', sans-serif;
    line-height: 1.5em;
    font-weight: 200;
    letter-spacing: 0.1em;
    background-color: #383B40;
}

#parent {
    background-color: #383B40;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #383B40;
    padding: 0;
    margin: 0 auto;
    display: flex;
}

.wap-left {
    width: 40vw;
    height: 100vh;
    overflow: hidden;
}

.wap-left img {
    /*width: 100%;*/
	height: 100vh;
	/* SCALE */
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-o-transform: scale(1,1);
	transform: scale(1,1);
}

.wap-right {
    /*justify-content: center;*/
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 70vw;
    height: calc(100vh - 2rem);
    margin-left: -10%;
    z-index: 1;
}

.wap-right .name {
    font-size: 64px;
    text-align: center;
    border-radius: 300px;
    padding: 4rem;
    background-color: #383B40;
    text-align: left;
    font-weight: 500;
    line-height: normal;
}

.wap-right .name p {
    padding: 0;
    margin: 0;
}

.wap-right .description {
    padding-left: 12rem;
    width: 65%;
    overflow-y: auto;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.wap-right .links {
    display: inline-flex;
    gap: 1rem;
    padding-top: 1rem;
}

.wap-right .instagram,
.wap-right .linkedin,
.wap-right .github,
.wap-right .medium {
    padding: 15px;
    border-radius: 35px;
    border: 1px solid #fff;
    cursor: pointer;
}

.wap-right .fa-instagram,
.wap-right .fa-linkedin,
.wap-right .fa-github,
.wap-right .fa-medium {
    font-size: 25px;
    color: #fff;
}

@media (max-width: 1400px) {
    .wap-right {
        margin-left: -10%;
    }
}

@media (max-width: 1700px) {
    .wap-right {
        margin-left: -9%;
    }
}